* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.main-cont {
  display: flex;
  align-items: center;
  height: 87vh;
}
.settings-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  max-width: 600px;
  margin: auto;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #333;
  font-weight: 600;
}

.settings-form {
  width: 100%;
}
.error {
  color: red;
}
p {
  font-weight: bold;
}
.save-button:disabled {
  background: #ddd;
  cursor: not-allowed;
}
.save-button:disabled:hover {
  background-color: #ddd;
}
.macros{
    display: flex;
    justify-content: space-evenly;
}
.valid {
  color: green;
}

.form-group {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
  color: #555;
  font-weight: bold;
}

input[type="number"] {
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  transition: border-color 0.3s ease;
}

input[type="number"]:focus {
  border-color: #007bff;
  outline: none;
}

.save-button {
  width: 100%;
  padding: 15px;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.1s ease;
}

.save-button:hover {
  background-color: #0056b3;
}

.save-button:active {
  transform: translateY(2px);
}

