.cover,
html {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow-y: hidden;
}

body {
  overflow: hidden;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
}
@media (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.2rem;
  }
}
h2 {
  font-size: 1.5rem;
  font-weight: 300;
}
.coverTitle h1 {
  margin-bottom: 20px;
}

.coverTitle h2 {
  margin-top: 10px;
}
.coverTitle {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center vertically */
  align-items: center; /* Center horizontally */
  height: 90vh;
  text-align: center; /* Ensures text inside the container is centered */
}
body {
  overflow: hidden;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}
h2 {
  text-decoration: none !important;
}
li {
  display: inline-block;
  padding: 15px 0;
}

div h1,
div h2 {
  color: white; 
}

.container {
  display: flex;
  flex-direction: column;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fade-in {
  animation: fadeIn 0.5s ease-in-out forwards;
  opacity: 0;
}
.firsttext{
  color: white;
}
.first {
  margin-top: 40px;
  background: #f7b38d;
  border-radius: 50px;
  border: 1px solid #f8d7b8;
  transition: 0.3s ease;
  color: white !important;
}
.first:hover {
  background: #f8d7b8;

  width: auto;
  border: 1px solid #f7b38d;
}
h2 {
  display: inline-block;
  position: relative;
  padding: 10px;
  padding-right: 23px;
  padding-left: 23px;
}
.arrow {
  display: inline-block;
  transition: transform 0.3s ease;
  margin-left: 2px;
}

h2:hover .arrow {
  transform: translateX(10px);
}

@media (max-width: 1200px) {
  .coverTitle {
    margin-top: 50px;
    height: 80vh !important;
  }
}

